@font-face {
    font-family: 'Oswald', 'Zen Tokyo Zoo', 'Mallanna';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/oswald/v36/TK3_WkUHHAIjg75cFRf3bXL8LICs1_FvsUhiZTaR.woff2) format('woff2'),
         url(https://fonts.gstatic.com/s/zentokyozoo/v1/NGSyv5ffC0J_BK6aFNtr6sRvwaRkRFe9.woff2) format('woff2'),
         url(https://fonts.gstatic.com/s/mallanna/v8/hv-Vlzx-KEQb84YaDFwoGTVAVg.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF,
                   U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF,
                   U+0951-0952, U+0964-0965, U+0C00-0C7F, U+1CDA, U+200C-200D, U+25CC;
  }

#content_tab {
    display: grid;
    grid-template-columns: 1fr 5fr;
    border: solid #d5e0e6;
    border-width: 0.1rem;
    box-shadow: 2rem 2rem 10rem;
    margin: 7rem;
}

#avatar {
    height: 10rem;
    border: solid #d5e0e6;
    border-width: 0.1rem;
    border-radius: 55%;
    position: relative;
    right: 2rem;
    bottom: 2rem;
}

#GC {
    margin-top: 3rem;
    margin-left: 1rem;
}

#header {
    margin-left: 5rem;
}

#side_pannel {
    background-color: wheat;
}

.category {
    font-family: 'Oswald';
    text-transform: uppercase;
    font-weight: bold;
    padding-right: 0.7rem;
}

.value {
    font-family: 'Oswald';
    font-weight: normal;
}

h1 {
    margin-top: 3rem;
    margin-bottom: 2rem;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Zen Tokyo Zoo';
    font-weight: normal;
}

p {
    font-family: 'Mallanna';
    margin-right: 2rem;
    margin-left: 3rem;
}

svg {
    margin: 1rem;
    width: 4rem;
    height: 4rem;
}